body {
    background-color: antiquewhite;
}

.section, .collection {
    margin: 10px;
}

.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

.wishTitle {
    margin-right: 20px;
}